<!DOCTYPE html>
<html>
   <body>
      <title>( ͡° ͜ʖ ͡°) - Lenny Face to Clipboard</title>
      <div id="counter" style=" position: absolute;
         left: 50%;
         ">Copied {{counter.count}} times</div>
      <button  style="background: none; border: none;">
         <div id="face" style="font-size: 200px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;">( ͡° ͜ʖ ͡°)</div>
      </button>
      <script>
         const btn = document.getElementById('face');
         const counter = document.getElementById('counter');
         btn.addEventListener('click', async _ => {
             try {
                 const response = await fetch('{{ domain }}/increase', {
                     method: 'post'
                 });
                 const data = await response.json().then(data => ({
                     count: data.count
                 }));
                 console.log('Completed!', data.count);
                 counter.textContent = "Copied " + data.count + " times";
                 const randomColor = Math.floor(Math.random() * 16777215).toString(16);
                 document.body.style.backgroundColor = "#" + randomColor;
                 navigator.clipboard.writeText("( ͡° ͜ʖ ͡°)");
             } catch (err) {
                 console.error(`Error: ${err}`);
             };
         });
      </script>
   </body>
</html>